/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
a{
    color:  #bcc6cc;
    text-decoration: none;

}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#00a0ff;


    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    color:  #aaa;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
li{
    list-style: none
}
ul{
    margin: 0;
    padding: 0;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:8px;
    -webkit-border-radius:8px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h1{
    color: #b9c4c9;
}
.header{
    background: #fff;
    border-bottom: 3px solid rgb(216, 216, 216);
    color:#b9c4c9;
    border-radius: 0 0 8px 8px; 
    text-align: center;
}
#titulo,#info ,#back{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 32%
}
#logo img{
    max-height: 50px 
}
#info{
    margin: 0;
    padding-right: 5px; 
    text-align: right;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#info img{
    max-width: 25px;
}
nav{
    padding: 0 5px;
}
nav span{
    float: right;
}
nav li{
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 1.5em;
    padding: 15px 20px;
}
nav li:last-child{
    border: none;
}
ul#nav{
    background: #fff;
    border-radius: 8px;
    padding: 0;

}
#back{
    text-align: left
}
#back span{ 
    font-size: 15px;
    padding-left: 5px;
}
#content-page p{
    color: #fff;
    font-size: 15px;
    padding-left: 30px;
}

#logo{
    margin: 5px 0 0;
}
.contend-button{
    padding: 15px 0 0;  
    text-align: center;
    width: 100%
}
.button{
    background: #1458ac;
    border: #1458ac;
    border-bottom: 1px #7CB7FF solid;
    box-shadow: inset 0 0 13px #14519C;
    border-radius: 7px;
    color: #6D93AA;
    font-size: 20px;
    padding: 15px;
    width: 90%;

}
#contend-search-button{
    position: relative;
}
#contend-search-button .submit-search{
    background: url(../img/search.jpg) no-repeat center top;
    background-size: 25px 25px;
    border: none;
    left: 25px;
    height: 32px;
    position: absolute;
    top: 12px;
    width: 29px;

}
#content-page  .contend-button .parrafo{
    margin: 0 0 13px 0;
    padding: 0;

}

.publicidad{
    margin: 10px auto;
    text-align: center;
    width: 90%;
}
.publicidad img{
    max-width: 100%
}
.search{
    border: none;
    border-radius: 5px;
    color: #aaa;
    font-size: 1.5em;
    padding: 10px 8px 10px 40px;
    width: 90%;

}
/*=================================================================
info tienda
===================================================================*/
#content-info{
    background: #fff;
    border-radius: 7px;
    color: #028fe0;
    margin: 0 auto 20px;
    width: 95%;
}
.contend-parrafos {

    text-align: center;
}
#content-page .contend-parrafos p{
    color: #028fe0;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
#content-info ul, #content-info figure{
    display: inline-block;
    vertical-align: middle;

}
#mapa, #buttons-cc input{
    background: #fff;
    border-bottom: 3px solid rgb(189, 189, 189);
    border-left: none;
    border-radius: 7px;
    border-right: none;
    border-top: none;
    box-shadow: -9px 12px 27px 2px #C7C7C7;
    margin: 12px 20px;
    color: #00a0ff;
    font-size: 17px;
    padding: 16px 46px;
}
.sub-title                                              {
    background: #F1F1F1;
    border-radius: 7px 7px 0 0;
    margin: 15px 0;
    padding: 3px 20px;
    text-align: left;   

}
.sub-title h2{
    display: inline-block;
    font-weight: 100;
    font-size: 13px;
    margin: 8px 0;
}
#content-info ul{
    color: #0968A0;
    font-size: 13px;
    margin: 0;
    padding: 4px 20px;
    width: 48%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
}
#content-info > figure,#content-info #buttons-cc{
    margin: 0;
    max-width: 49%;
    text-align: center;
    width: 49%;
}
#buttons-cc{

    display: inline-block;
    vertical-align: top;
}
#content-info figure img{
    max-width: 100px;
}
.arrow {
    background: #E2E2E2;
    border-radius: 0 7px 0 0;
    display: inline-block;
    float: right;
    margin: -3px -20px;
    padding: 16px 10px;

}
.arrow span{ 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2795C9;
    display: block;

}
#content-info #logo-cc, #content-info #mini-mapa{

    width: 48%
}
#logo-cc img, #mini-mapa img{
    margin: 22px 0;
    max-width: 80%
}
#content-info .logo-cc{
    margin: 22px 0;
    width: 32%;
}
#content-info .logo-cc img{
    width: 85%
}

#buttons-cc figure{
    margin: 0;
}
#buttons-cc input{
    font-size: 12px;
    margin: 0;
    padding: 13px 0;
    width: 100%;
}
.cc-logo{
    max-width: 60px;
}

#button-cc .input-ccInnfo{
    margin: 0;
}
#buttons-cc img {
    max-width: 60px !important
}
#buttons-cc input:last-child{
    margin-bottom: 30px
}
/*=================================================================
State
===================================================================*/
.active{
    color:#00a0ff;
}

.hidden{
    display: none;
}
#wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    padding: 0;
    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller {
    position: absolute;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
#contend-iscroller{
    margin: 20px auto;
}
#contend-iscroller{

}
@media screen and (max-height: 995px) {
  #wrapper {
    min-height: 210px;
    height: 210px;
    }
}
.error, .popUp-image{
    background: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000

}
.message{
    background: #fff;
    border-radius:8px;
    color:#000;
    left: 50%;
    margin: -30px -35%;
    position: absolute;
    top: 50%;
    width: 70%;
}
.message button{
    background-color: #e5e5e5;
    border:none;
    border-radius: 0 0 8px 8px;
    color: #019eef;
    height: 30px;
    margin: 0;
    width: 100%;
}
#content-page .message p{

    color: #777;
    padding: 0;
    text-align: center;
}
#image-zoom{
    margin-left: 5%;
    padding: 0;
    position: absolute;
    width: 90%;
    z-index: 1000;
}
#image-zoom img{
    max-width: 100%;
}
#close{
    color:#2B729C;
    font-size: 3.5em;
    font-weight: bold;
    position: absolute;
    right: 8px;
    z-index: 10000
}
#back-false{
    background-color: #e8eaeb;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    z-index: -1;
}
#header-transport{
    background: url(../img/bus.png) no-repeat;
    background-size: 63px 70px;
    margin: 0 auto;
    padding: 16px 60px;
    width: 97%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#header-transport h2, #header-transport h3{
    color: rgb(109, 109, 109);
    font-weight: 100;
    margin: 0;
}
#contend-transport h2{
    color: rgb(124, 124, 124);
    font-size: 14px;
    font-weight: 100;
}
#contend-transport p{
    color: rgb(167, 167, 167);
    font-size: 12px;
    text-align: left;
    padding: 0;
}
#header-transport h3{
    font-weight: 100;
    font-size: 10px;
    margin: 0;
}    
#contend-transport{
    border-left: 5px solid #0191e6;
    margin: 0 auto;
    padding: 0 10px;
    width: 79%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#info-publicidad{
    margin: 10px auto;
    padding: 20px 10px;
    width: 95%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#info-publicidad h2{
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-weight: 100;
    padding: 20px 15px 0px 30px;
}
#info-publicidad p{
    color: gray;   
    font-size: 12px;
    padding: 10px 30px;
    text-align: left;
}
.delete-padding{
    padding: 0;
}